<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<log4net>
		<root>
			<!-- ログのレベルを指定 -->

			<!-- すべてのログ・レベルを出力 -->
			<level value="ALL" />

			<!-- どのログ出力先を使用するか -->
			<appender-ref ref="DebugLogAppender" />
		</root>

		<!-- デバッグ用：分割ファイル出力 -->
		<appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
			
			<File value=".\\Logs\\log_" />

			<!-- ファイル名は日付ごと -->
			<param name="DatePattern" value='yyyyMMdd".log"' />

			<!-- ファイル名は日付ごと -->
			<param name="RollingStyle" value="date" />
			<param name="StaticLogFileName" value="false" />

			<param name="AppendToFile" value="true" />

			<filter type="log4net.Filter.LevelRangeFilter">
				<!-- <param name="LevelMax" value="FATAL" /> -->
				<param name="LevelMin" value="TRACE" />
			</filter>

			<param name="MaximumFileSize" value="10MB" />
			<param name="MaxSizeRollBackups" value="10" />

			<layout type="log4net.Layout.PatternLayout">
				<ConversionPattern value="%date[%-5level] - %message%n" />
			</layout>
		</appender>

	</log4net>

</configuration>